* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.space-custom {
    margin: 5vh 0vh;
}

main {
    height: 70vh;
}

footer {
    text-align: center;
    padding: 5vh 0vh;
    font-weight: bold;
    background-color: beige;
}
